<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">

    <!-- API -->
    <preference for="Raven\AtlasPay\Api\PaymentManagementInterface" type="Raven\AtlasPay\Model\PaymentManagement"/>
    <preference for="Raven\AtlasPay\Api\ConfigInterface" type="Raven\AtlasPay\Model\Ui\ConfigProvider" />

</config>
